<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body{
            overflow: hidden;
        }
        ul{
            display: flex;
            width: 90%;
            justify-content: space-around;
            margin: 0 auto;
        }
        li{
            list-style: none !important;
        }
    </style>
</head>
<body>
<ul>
    <li>
        <a href="/hotel/dashboard">Dashboard</a>
    </li>
<li>
    <a href="/hotel/add-guest">Regjistro musafiret</a>
</li>
<li>
    <a href="/hotel/add-room">Shto dhoma</a>

<li>
    <a href="/hotel/add-reservation">Shto rezervim</a>
</li>
<li>
    <a href="/hotel/logout">Log out</a>
</li>
</ul>

<h1>Add Reservation</h1>
</body>
</html>