<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hotel Manager Login</title>
</head>
<body>
<center>
    <form th:action="${loginAction}" method="post" th:object="${loginModel}">
        <label>Username:</label><br/>
        <input th:field="${loginModel.username}" type="text" placeholder="username" /> <br/>
        <label>Password: </label><br/>
        <input th:field="${loginModel.password}" type="password" placeholder="password" /> <br/> <br/>
        <span th:text="${error}"></span> <br/><br/>
        <input type="submit" value="Login"/>
        <span>No Account? <a href="/hotel/register-manager">Register</a></span>
    </form>
</center>
</body>
</html>