<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Hotel Manager</title>
</head>
<body>
    <label>
        Name:
        <input type="text" />
    </label> <br>
    <label>
        Last Name:
        <input  type="text" />
    </label> <br>

    <label>
        Email:
        <input type="email" />
    </label> <br>

    <label>
        Password:
        <input type="password"/>
    </label> <br>
    <button>
        Register User
    </button>

</body>
</html>