<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Hotel Manager</title>
</head>
<body>
<center>
    <form action="/hotel/register-manager" method="post" th:object="${manager}">
    <label>
        Name:
        <input th:field="${manager.firstName}" type="text" />
    </label> <br>
    <label>
        Last Name:
        <input th:field="${manager.lastName}" type="text" />
    </label> <br>

    <label>
        Email:
        <input th:field="${manager.email}" type="email" />
    </label> <br>

    <label>
        Password:
        <input th:field="${manager.password}" type="password"/>
    </label> <br>
        <input type="submit" value="Register" />
    </form>
</center>

</body>
</html>